models/

/venv/
/.venv/
/env/
/.env/
/ENV/
/virtual/
/Virtual/
/lib/
/lib64/

__pycache__/
*.py[cod]
*$py.class

/build/
/develop-eggs/
/dist/
/downloads/
/eggs/
/.eggs/
/parts/
/sdist/
/var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.pytest_cache/
.coverage
.coverage.*
/htmlcov/
/nosetests.xml
/coverage.xml
*.cover
/.hypothesis/

*.db
*.sqlite3

*.env
.env
!/.env.example
!/.env.template

.ipynb_checkpoints/

/.mypy_cache/
/.dmypy.json
/.pyre/
/.pytype/

/.idea/
/.vscode/
*.swp
*~
*.swo

.DS_Store
Thumbs.db
._*


*.log
*.tmp
*.bak
*.sops.yaml
